.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
*{
  padding: 0;
  margin: 0;
}
body{
  background: #efefef;
  color: black;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
.topNavBar  nav  ul  li{
  float:left;
  margin-left:17px;
  margin-right:17px;
}
.topNavBar  nav  ul  li a{
  font-size: 12px;
  color:rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom:3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
.topNavBar nav{
  padding-top: 4px;
  padding-bottom: 4px;
  float: right;
}
.topNavBar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar a {
  float: left;
}
.topNavBar  nav  ul  li a:hover{
  border-bottom:3px solid #e06567;
}
.topNavBar .logo{
  font-size: 24px;
  font-family: "Arial Black";
  padding-top: 3px;
  padding-bottom: 3.4px;
}
.topNavBar .logo .card{
  color:#9A9DA2;
}
.topNavBar .logo .rs{
  margin-right: 4px;
  color:#e6686a;
}
.topNavBar{
  padding:20px 0px 20px 0px;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
}
.banner{
  height: 515px;
  background-image: url(./img/rs-cover-2-2-1-1.jpg);
  background-position: center center;
  background-size: cover;
}
.topNavBar .topNavBar-inner{
  padding: 0 16px 0 16px;
}
.banner .mask{
  height: 515px;
  background-color: rgba(0, 0, 0, 0.5)
}
.userCard {
  border: 1px solid white;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff
}
.userCard .welcome{
  background-color: #E8676B;
  color: #FEFBFC;
  display: inline-block;
  padding: 4px 16px;
  position: relative;
  margin-bottom: 10px;
}
.welcome .triangle{
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 6px;
  top: 100%;
}
.userCard .picture{
  float: left;
}
.userCard .text{
  float: left;
  margin-left: 65px;
  width:400px;
}
.userCard .pictureAndText{
  padding: 50px;
}
.userCard .text h1{
  margin-top: 26px;
  margin-bottom: 5px;
}
.userCard .text hr{
  margin: 20px 0;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}
.userCard dl dt,
.userCard dl dd{
  float: left;
  padding: 8px 0px;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}
.userCard .media{
  background-color: #e06567;
}
